.container {
  background-color: pink;
}

.debug [class*="col-"] {
  height: calc( 100vh / 5 );
  border: 1px solid black;
  text-align: center;
  line-height: 200px;
  vertical-align: middle;
}

.col-6 > .col-2 {
  border-color: white;

}
