.row {
  background-color: pink;
}

.debug [class*="col-"] {
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}

.row .col-6 .row-white {
  border-color: white;
}


.row-white .col-6,
.row-white .col-2,
.row-white .col-8 {
  border: 1px solid white;
  background-color: plum;
}
